.App {
  text-align: center;
  font-size: 14px;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin: 3rem 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  color: #444;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid {
  display: flex;
  max-width: 96%;
  position: relative;
  margin: 1rem auto;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

fieldset {
  margin: 1rem;
  max-width: 360px;
  border: 1px solid rgba(3,54,61,.25);
}

input:not([type=checkbox]) {
  background: #fcfdfd;
  border-radius: 3px;
  border: 1px solid rgba(3,54,61,.25);
  box-shadow: none;
  color: rgba(17,51,56,.73);
  height: 50px;
  padding: 20px 15px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

input:not([type=checkbox]):focus {
  border: 1px solid #30aabc;
  box-shadow: 0 0 0 1px #30aabc;
  outline: none;
}
