.font-proxima-nova{font-family:proxima nova,Arial,sans-serif}
@font-face{font-family:proxima nova;-moz-font-feature-settings:"liga=0";-moz-font-feature-settings:"liga" 0;src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNT.eot);src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNT.eot?#iefix) format("embedded-opentype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNT.woff) format("woff"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNT.ttf) format("truetype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNT.svg#PNT) format("svg");font-weight:100;font-style:normal;font-display:swap}
@font-face{font-family:proxima nova;-moz-font-feature-settings:"liga=0";-moz-font-feature-settings:"liga" 0;src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNTI.eot);src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNTI.eot?#iefix) format("embedded-opentype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNTI.woff) format("woff"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNTI.ttf) format("truetype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNTI.svg#PNTI) format("svg");font-weight:100;font-style:italic;font-display:swap}
@font-face{font-family:proxima nova;-moz-font-feature-settings:"liga=0";-moz-font-feature-settings:"liga" 0;src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNL.eot);src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNL.eot?#iefix) format("embedded-opentype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNL.woff) format("woff"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNL.ttf) format("truetype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNL.svg#PNL) format("svg");font-weight:200;font-style:normal;font-display:swap}
@font-face{font-family:proxima nova;-moz-font-feature-settings:"liga=0";-moz-font-feature-settings:"liga" 0;src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNLI.eot);src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNLI.eot?#iefix) format("embedded-opentype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNLI.woff) format("woff"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNLI.ttf) format("truetype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNLI.svg#PNLI) format("svg");font-weight:200;font-style:italic;font-display:swap}
@font-face{font-family:proxima nova;-moz-font-feature-settings:"liga=0";-moz-font-feature-settings:"liga" 0;src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNR.eot);src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNR.eot?#iefix) format("embedded-opentype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNR.woff) format("woff"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNR.ttf) format("truetype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNR.svg#PNR) format("svg");font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:proxima nova;-moz-font-feature-settings:"liga=0";-moz-font-feature-settings:"liga" 0;src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNRI.eot);src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNRI.eot?#iefix) format("embedded-opentype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNRI.woff) format("woff"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNRI.ttf) format("truetype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNRI.svg#PNRI) format("svg");font-weight:400;font-style:italic;font-display:swap}
@font-face{font-family:proxima nova;-moz-font-feature-settings:"liga=0";-moz-font-feature-settings:"liga" 0;src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNSB.eot);src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNSB.eot?#iefix) format("embedded-opentype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNSB.woff) format("woff"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNSB.ttf) format("truetype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNSB.svg#PNSB) format("svg");font-weight:600;font-style:normal;font-display:swap}
@font-face{font-family:proxima nova;-moz-font-feature-settings:"liga=0";-moz-font-feature-settings:"liga" 0;src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNSBI.eot);src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNSBI.eot?#iefix) format("embedded-opentype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNSBI.woff) format("woff"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNSBI.ttf) format("truetype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNSBI.svg#PNSBI) format("svg");font-weight:600;font-style:italic;font-display:swap}
@font-face{font-family:proxima nova;-moz-font-feature-settings:"liga=0";-moz-font-feature-settings:"liga" 0;src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNB.eot);src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNB.eot?#iefix) format("embedded-opentype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNB.woff) format("woff"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNB.ttf) format("truetype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNB.svg#PNB) format("svg");font-weight:700;font-style:normal;font-display:swap}
@font-face{font-family:proxima nova;-moz-font-feature-settings:"liga=0";-moz-font-feature-settings:"liga" 0;src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNBI.eot);src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNBI.eot?#iefix) format("embedded-opentype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNBI.woff) format("woff"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNBI.ttf) format("truetype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNBI.svg#PNBI) format("svg");font-weight:700;font-style:italic;font-display:swap}
@font-face{font-family:proxima nova;-moz-font-feature-settings:"liga=0";-moz-font-feature-settings:"liga" 0;src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNXB.eot);src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNXB.eot?#iefix) format("embedded-opentype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNXB.woff) format("woff"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNXB.ttf) format("truetype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNXB.svg#PNXB) format("svg");font-weight:800;font-style:normal;font-display:swap}
@font-face{font-family:proxima nova;-moz-font-feature-settings:"liga=0";-moz-font-feature-settings:"liga" 0;src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNXBI.eot);src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNXBI.eot?#iefix) format("embedded-opentype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNXBI.woff) format("woff"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNXBI.ttf) format("truetype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNXBI.svg#PNXBI) format("svg");font-weight:800;font-style:italic;font-display:swap}
@font-face{font-family:proxima nova;-moz-font-feature-settings:"liga=0";-moz-font-feature-settings:"liga" 0;src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNBL.eot);src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNBL.eot?#iefix) format("embedded-opentype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNBL.woff) format("woff"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNBL.ttf) format("truetype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNBL.svg#PNBL) format("svg");font-weight:900;font-style:normal;font-display:swap}
@font-face{font-family:proxima nova;-moz-font-feature-settings:"liga=0";-moz-font-feature-settings:"liga" 0;src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNBLI.eot);src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNBLI.eot?#iefix) format("embedded-opentype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNBLI.woff) format("woff"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNBLI.ttf) format("truetype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/PNBLI.svg#PNBLI) format("svg");font-weight:900;font-style:italic;font-display:swap}

.font-sharp-sans{font-family:sharp sans,Arial,sans-serif}@font-face{font-family:sharp sans;-moz-font-feature-settings:"liga=0";-moz-font-feature-settings:"liga" 0;src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/SHSNLight.eot);src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/SHSNLight.eot?#iefix) format("embedded-opentype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/SHSNLight.woff) format("woff"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/SHSNLight.ttf) format("truetype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/SHSNLight.svg#SHSNLight) format("svg");font-weight:200;font-style:normal;font-display:swap}
@font-face{font-family:sharp sans;-moz-font-feature-settings:"liga=0";-moz-font-feature-settings:"liga" 0;src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/SHSNMedium.eot);src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/SHSNMedium.eot?#iefix) format("embedded-opentype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/SHSNMedium.woff) format("woff"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/SHSNMedium.ttf) format("truetype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/SHSNMedium.svg#SHSNMedium) format("svg");font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:sharp sans;-moz-font-feature-settings:"liga=0";-moz-font-feature-settings:"liga" 0;src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/SHSN.eot);src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/SHSN.eot?#iefix) format("embedded-opentype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/SHSN.woff) format("woff"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/SHSN.ttf) format("truetype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/SHSN.svg#SHSN) format("svg");font-weight:600;font-style:normal;font-display:swap}
@font-face{font-family:sharp sans;-moz-font-feature-settings:"liga=0";-moz-font-feature-settings:"liga" 0;src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/SHSNBold.eot);src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/SHSNBold.eot?#iefix) format("embedded-opentype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/SHSNBold.woff) format("woff"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/SHSNBold.ttf) format("truetype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/SHSNBold.svg#SHSNBold) format("svg");font-weight:700;font-style:normal;font-display:swap}
@font-face{font-family:sharp sans;-moz-font-feature-settings:"liga=0";-moz-font-feature-settings:"liga" 0;src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/SHSNBlack.eot);src:url(https://d1eipm3vz40hy0.cloudfront.net/fonts/SHSNBlack.eot?#iefix) format("embedded-opentype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/SHSNBlack.woff) format("woff"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/SHSNBlack.ttf) format("truetype"),url(https://d1eipm3vz40hy0.cloudfront.net/fonts/SHSNBlack.svg#SHSNBlack) format("svg");font-weight:900;font-style:normal;font-display:swap}

.App {
  text-align: center;
  font-size: 14px;
  font-family: proxima nova,Arial,sans-serif;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin: 1.5rem 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  color: #444;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid {
  display: flex;
  max-width: 96%;
  position: relative;
  margin: 1rem auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  position: relative;
}

@media (max-width: 720px) {
  .col {
    width: 100%;
  }
}

fieldset {
  margin: 1rem;
  max-width: 360px;
  border: 1px solid rgba(3,54,61,.25);
}

input:not([type=checkbox]) {
  background: #fcfdfd;
  border-radius: 3px;
  border: 1px solid rgba(3,54,61,.25);
  box-shadow: none;
  color: rgba(17,51,56,.73);
  height: 50px;
  padding: 20px 15px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

input:not([type=checkbox]):focus {
  border: 1px solid #30aabc;
  box-shadow: 0 0 0 1px #30aabc;
  outline: none;
}

h1,
.meme-text {
  font-family:sharp sans,Arial,sans-serif;
  font-weight: 700;
  color: #03363d;
}

h1 {
  font-size: 1rem;
  margin: 0.25rem 0;
}

.thumbnails {
  height: 160px;
  overflow-y: scroll;
  margin-bottom: 6px;
  padding: 6px;
  background: #f8f8f8;
  box-sizing: border-box;
}

.thumbnail {
  width: 24%;
  margin: 0.5%;
  position: relative;
  box-sizing: border-box;
  border: 3px solid #f8f8f8;
}

.thumbnail:hover {
  transition: opacity 0.5s ease;
  opacity: 0.5;
  cursor: pointer;
}

.thumbnail.selected {
  border: 3px solid #03363d;
}

.meme {
  position: relative;
}

.meme-image {
  max-width: 100%;
}

.meme-text {
  font-size: 2rem;
  color: white;
  text-shadow: -1px -1px 0 #03363d, 1px -1px 0 #03363d, -1px 1px 0 #03363d, 1px 1px 0 #03363d;
  letter-spacing: 5px;
  position: absolute;
  left: 0;
  width: 100%;
  margin: 3px 0;
  text-transform: uppercase;
}

.meme-text-top {
  top: 0;
}

.meme-text-bottom {
  bottom: 0;
}
